*{
	padding: 0;
	margin: 0;
}
.animation-pane{
	width: 95%;
}

.box-anim{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}


.box-anim li{
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255,255,255,0.2);
	animation: animate 5s linear infinite;
	bottom: -15rem;
	opacity: 0.9;
}

.box-anim li:nth-child(1){
	left: 66%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}

.box-anim li:nth-child(2){
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}

.box-anim li:nth-child(3){
	left: 60%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}

.box-anim li:nth-child(4){
	left: 32%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}

.box-anim li:nth-child(5){
	left: 55%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}

.box-anim li:nth-child(6){
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}

.box-anim li:nth-child(7){
	left: 6%;
	width: 70px;
	height: 70px;
	animation-delay: 0s;
}

.box-anim li:nth-child(8){
	left: 32%;
	width: 60px;
	height: 60px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}

.box-anim li:nth-child(9){
	left: 40%;
	width: 10px;
	height: 10px;
	animation-delay: 5.5s;
}

.box-anim li:nth-child(10){
	left: 52%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
	animation-duration: 15s;
}

.box-anim li:nth-child(11){
	left: 35%;
	width: 90px;
	height: 90px;
	animation-delay: 0s;
}

.box-anim li:nth-child(12){
	left: 75%;
	width: 80px;
	height: 80px;
	animation-delay: 3.5s;
}

@keyframes animate{
	0%{
		transform: translateY(0) rotate(0deg);
		opacity: 0.8;
	}
	100%{
		transform: translateY(-1000px) rotate(360deg);
		opacity: 0;
	}
}